{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/broadcast.css' %}">
{% endblock %}

{# та же панель, где поиск и "Фильтры" #}
{% block search %}
  <div class="broadcast-toolbar">
    <div class="bt-left">
      {{ block.super }}
    </div>
    <div class="bt-right">
      <a href="{% url 'admin:users_telegramuser_broadcast' %}" class="btn btn-primary">
        📣 Отправить рассылку всем
      </a>
    </div>
  </div>
{% endblock %}